<h2 class='title'>Beeker Software</h2>
<div class='main_body row'>
  <div class='col-md-5'>
    <p class='lead'>
      Ruby, Rails, JQuery, NodeJS, C++, C, Git, Subversion, Mysql, ElasticSearch, Cassandra, CSS, Memcached, iOS objective C, AWS, Heroku, Linux, Windows, Akamai
    </p>
    <p class='lead'>
     Experienced working on High availability web sites leveraging cloud technologies to support scaling, software used on Semiconductor Manufacturing tools, SmartGrid control systems, Firmware on Advanced DC Power supplies, Test harness design for embedded PC's and wireless power adapters for Solar Panels.
    </p>
  </div>
  <div class='col-md-3'>
    <p class='lead  '>
    I can assist in reviewing software architecture design, software development processes. With experience working in both the startup and corpoorate world, I am familiar with the limitations imposed in both environments.
    </p>
  </div>
  <div class='col-md-3'>
    <p>
    What have I done that you can have a look at?
    </p>
    <ul class='unstyled'>
      <li>
        <a href='https://github.com/beekermememe/ruby-saml'>Saml open source gem for interfacing with SAML Auth</a>
      </li>
      <li>
        <a href='https://github.com/beekermememe/capistrano-node-deploy'>Capistrano Gem used to deploy NodeJS using node forever to manage app startup/shutdown</a>
      </li>
      <li>
        <a href='https://github.com/beekermememe/express_statsd_proxy'>A Simple NodeJS proxy for forward on TCPIP requests to a statsd UPD server</a>
      </li>
  </div>
</div>
<div class='summary'></div>
<div class='footer'></div>