<h2 class='title'>Beeker Software</h2>
<div class='main_body'>
  <div class='span7'>
    <p class='lead'>
      Ruby, Rails, JQuery, NodeJS, C++, C, Git, Subversion, Mysql, ElasticSearch, Cassandra, CSS, Memcached, iOS objective C, AWS, Heroku, Linux, Windows, Akamai
    </p>
    <p class='lead'>
      We have experience working on software used on Semiconductor Manufacturing tools, SmartGrid control systems, Firmware on Advanced DC Power supplies, Test harnesses for embedded PC's and wireless power adapters for Solar Panels, High availability web sites leveraging cloud technologies to support scaling
    </p>
  </div>
  <div class='span3'>
    Words about what we do
  </div>
  <div class='span2'>
    Links to other parts of the website
  </div>
</div>
<div class='summary'></div>
<div class='footer'></div>