<h1>
  About Me
</h1>
<div class="span5">
<p>
I have worked over in a variety of roles over the last 20 years. Starting as an equipment engineer for Applied Materials to a systems/software architect in the energy field to a full stack web engineer. Used to working with a wide range of people, I have enjoyed a successful career so far, building solid honest relationships and trust with coworkers and clients.
</p>
<p>
Hailing from Ireland, I moved to the US just before the Celtic Tiger arrived. I have lived in California and now Colorado. I played ALOT of basketball in my younger days but as my knees need more care, I have moved to Tennis, Triathlons and Playing Bluegrass Music.
</p>
<p>
If you need a hand reviewing your current web stack or assistance in reviewing various technologies you are considering for a new project, I am available in a part time role. Over the couse of my career I have programmed in C, C++, Ruby, TCL, Javascript, Bash/Shell Scripting, worked in Windows and Linux environments, interfaced with various datastores including Mysql, ElasticSearch, MongoDB, Postgres.
</p>
</div>
<div class="span1">
</div>
<div class="span2">
  <p><img src="ae_logo.png"/></p>
  <p><img src="amat_logo.png"/></p>
  <p><img src="spirae-logo.png"/></p>
  <p><img src="ampt_logo.png"/></p>
  <p><img src="dish_logo.png"/></p>
</div>
