<div id="add_article">
<h1>Add new entry</h1>
<form action="/admin/create" method="post">
<div>
<label>Title</label>
<input type="Title" id="title" name="title"></input></div>
<div>
<label>Author</label>
<input type="text" id="author" name="author"></input>
</div>
<div>
<label>Content</label>
<input type="textarea" id="content" name="content"></input>
</div>
<button type="submit">Submit</button>
</form>
</div>