<div id="edit_article">
<h1>Failed to save article</h1>
<div>
You have to fill in the Name, Author AND Content fields before a save is allowed
</div>
<div>
<a href='/admin'>Back to Admin Page<a>
</div>